body {
    margin: 10px;
    padding: 2em;
    font-family: "Nunito";
    background-color: #f2f2f2;
  }

.sendButton {
  margin: 24px 0px;
  background-color: #7D4AD4;
  border-radius: 4px;
  padding: 12px;
  color: #fff;
  width: 80px;
  font-weight: bold;
  font-size: 18px;
  font-family: "CabinetGrotesk";
  border: 1px solid #7D4AD4;
}

.container-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px; 
}

.chat-message-user {
    /* display: flex; */
    text-align: right;
    padding: 5px;
    color: blue;
}

.chat-message-bot {
  /* display: flex; */
  text-align: left;
  padding: 7px;
  color: black;
}

.heading-main {
    display: flex;
    align-items: center;
}

#chat-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ddd;
}
  
#chat-history {
  height: 700px;
  width: auto;
  font-family: "Nunito";
  font-size: 20px;
  /* display: flex; */
  overflow-y: scroll;
  padding: 10px;
}

#chat-form {
  display: flex;
  margin-top: 2px;
  width: 70%;
  justify-content: space-between;
  margin-top: 10px;
}

#chat-form input[type="submit"] {
  margin-left: 10px; /* add some margin between input and submit button */
}

#chat-input {
  flex-grow: 1;
  padding: 10px;
  font-family: "Nunito";
  border-radius: 9px;
  border: 1px solid #ddd;
  font-size: 20px;
  outline: none;
}

@font-face {
  font-family: "CabinetGrotesk";
  src: url("./fonts/CabinetGrotesk.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito.ttf");
}

@font-face {
  font-family: "Nunito Italic";
  src: url("./fonts/Nunito-Italic.ttf");
}

